.main-container {
  width:  960px;
  min-width: 960px;
}

.tier {
  margin: 5px;
  padding: 7px;
}

.downArrow{
    background:url("arrowdown.png");
    background-size: 45px 45px;
    cursor:pointer;
    width: 45px;
    height: 45px;
    border: none;

}

.upArrow{
    background:url("arrowup.png");
    background-size: 45px 45px;
    cursor:pointer;
    width: 45px;
    height: 45px;
    border: none;

}

.ddownArrow{
    background:url("darrowdown.png");
    background-size: 45px 45px;
    cursor:pointer;
    width: 45px;
    height: 45px;
    border: none;

}

.dupArrow{
    background:url("darrowup.png");
    background-size: 45px 45px;
    cursor:pointer;
    width: 45px;
    height: 45px;
    border: none;

}

.skill-name{
  margin: 0 10px;
}

.skill-level{
  margin: 10px;
}

.classname-entry {
  text-transform: capitalize;
}

.level-selector {
  width: 70px;
}

.disabled-skill {
  pointer-events: none;
  opacity: 0.4;
}

select {
  text-align: center;
  text-align-last: center;
  /* webkit*/
}
option {
  text-align: left;
  /* reset to left*/
}
